.search {
  width: 300px;
}

.texto-material {
  color: crimson;
}

.modal {
  cursor: pointer;
  color: rgb(18, 120, 255);
  font-weight: bold;
}

.container-form {
  margin-top: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

.inputs-group {
  margin-right: 10px;
}

.div-inputs {
  margin-bottom: 15px;
  width: 250px;
}

.input-select-incoterm {
  width: 125px;
}

.input-select {
  width: 250px;
}

.input {
  margin-bottom: 10px;
}
