<div class="form" [formGroup]="myForm" (ngSubmit)="submit()">

  <h2>Gastos Sidecomex</h2>

  <div class="form-inputs">

    <div>
      <label>Concepto</label>
      <div>
      <nz-input-group>
        <nz-select [nzDisabled]="isInputReadOnly" nzPlaceHolder="Selecciona una opcion"
          formControlName="concept" class="input">
          <nz-option *ngFor="let item of concepts" [nzValue]="item?.concept"
            [nzLabel]="item.concept"></nz-option>
        </nz-select>
      </nz-input-group>
      <div class="error" *ngIf="invalidField('concept')">
        <span *ngIf="myForm.controls?.['concept']?.errors?.['required']"> Campo obligatorio </span>
        <span *ngIf="myForm.controls?.['concept']?.errors?.['conceptExist']">Este item ya existe en la base de datos </span>
      </div>
    </div>
    </div>


    <div>
      <label>Valor</label>
      <div>
        <nz-input-number-group nzPrefix="USD" class="input">
          <nz-input-number nzPlaceHolder="Ingresa la tarifa" formControlName="value"></nz-input-number>
        </nz-input-number-group>
        <div class="error" *ngIf="invalidField('value')">
          <span *ngIf="myForm.controls?.['value']?.errors?.['required']"> Campo obligatorio </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button *ngIf="!this.conceptName" class="btn" nz-button nzType="primary" (click)="submit()">Enviar</button>
    <button *ngIf="this.conceptName" class="btn" nz-button nzType="primary" (click)="editForm()">Actualizar</button>
  </div>
</div>

<hr>

<div>
  <nz-table [nzData]="data" [nzShowPagination]="false" [nzScroll]="{ y: '1000px' }">
    <thead>
      <tr>
        <th><strong>Concepto</strong></th>
        <th><strong>Valor</strong></th>
        <th><strong>Fecha actualización</strong></th>
        <th><strong>Acciones</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <td>{{ data?.concept }}</td>
        <td> <strong>USD</strong> {{ data?.value }}</td>
        <td>{{data?.upDate | date: 'short'}}</td>
        <td>
          <a><button (click)="getConcept(data?.concept)" nz-button nzType="primary">Editar</button></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
