<div class="form" [formGroup]="myForm" (ngSubmit)="submit()" >

  <h2 class="title">Tarifas de puertos </h2>

  <div class="form-inputs">
    <section>
      <div>
        <label for="port">Terminal portuario</label>
        <div>
          <nz-input-group>
               <nz-select [nzDisabled]="isInputReadOnly" nzPlaceHolder="Selecciona una terminal" formControlName="portTerminal" class="input">
                <nz-option *ngFor="let item of ports" [nzValue]="item?.namePort" [nzLabel]="item.namePort"></nz-option>
              </nz-select>

              </nz-input-group>
              <div class="error" *ngIf="invalidField('portTerminal')" >
                <span  *ngIf="myForm.controls?.['portTerminal']?.errors?.['required']" > Campo obligatorio </span>
                <span  *ngIf="myForm.controls?.['portTerminal']?.errors?.['portExist']" > Este puerto ya esta registrado en la base de datos </span>
              </div>
        </div>
      </div>
      <div>
        <label>Uso de instalaciones</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa la tarifa"
              formControlName="useInstalations"
              (change)="onInputChange1($event)"
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('useInstalations')" >
            <span  *ngIf="myForm.controls?.['useInstalations']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
      <div>
        <label>Pesaje</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa una tarifa"
              formControlName="weighing"
              (change)="onInputChange2($event)"
              [nzDisabled]="isDisable1"
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('weighing')" >
            <span  *ngIf="myForm.controls?.['weighing']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
      <div>
        <label>Cargue</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa una tarifa"
              formControlName="load"
              (change)="onInputChange3($event)"
              [nzDisabled]="isDisable2"
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('load')" >
            <span  *ngIf="myForm.controls?.['load']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div>
        <label>Reubicación</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa una tarifa"
              formControlName="relocation"
              (change)="onInputChange4($event)"
              [nzDisabled]="isDisable3"
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('relocation')" >
            <span  *ngIf="myForm.controls?.['relocation']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
      <div>
        <label>Bodegaje</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa una tarifa"
              formControlName="storage"
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('storage')" >
            <span  *ngIf="myForm.controls?.['storage']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
      <div>
        <label>Total USD</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa una tarifa"
              formControlName="totalUSD"
              [(ngModel)]="total"
              nzReadOnly
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('totalUSD')" >
            <span  *ngIf="myForm.controls?.['totalUSD']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
      <div>
        <label>Inspección</label>
        <div>
          <nz-input-number-group nzPrefix="USD" class="input">
            <nz-input-number
              nzPlaceHolder="Ingresa una tarifa"
              formControlName="inspection"
            ></nz-input-number>
          </nz-input-number-group>
          <div class="error" *ngIf="invalidField('inspection')" >
            <span  *ngIf="myForm.controls?.['inspection']?.errors?.['required']" > Campo obligatorio </span>
          </div>
        </div>
      </div>
    </section>
  </div>


<div>
  <button *ngIf="!this.portName" class="btn" (click)="submit()" nz-button nzType="primary">Enviar</button>
  <button *ngIf="this.portName" class="btn" (click)="editForm()" nz-button nzType="primary">Actualizar</button>
</div>
</div>

<hr>

<div>
  <nz-table #basicTable [nzData]="data">
    <thead>
      <tr>
        <th><strong>Terminal portuario</strong></th>
        <th><strong>Uso de instalaciones</strong></th>
        <th><strong>Pesaje</strong></th>
        <th><strong>Cargue</strong></th>
        <th><strong>Reubicación</strong></th>
        <th><strong>Bodegaje</strong></th>
        <th><strong>Total USD</strong></th>
        <th><strong>Inspección</strong></th>
        <th><strong>Fecha actualización</strong></th>
        <th><strong>Acciones</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <td>{{ data.portTerminal }}</td>
        <td> <strong>USD</strong> {{ data?.useInstalations }}</td>
        <td> <strong>USD</strong> {{ data?.weighing }}</td>
        <td> <strong>USD</strong> {{ data?.load }}</td>
        <td> <strong>USD</strong> {{ data?.relocation }}</td>
        <td> <strong>USD</strong> {{ data?.storage }}</td>
        <td> <strong>USD</strong> {{ data?.totalUSD }}</td>
        <td> <strong>USD</strong> {{ data?.inspection }}</td>
        <td>{{data?.newDate | date: 'short'}}</td>
        <td>
          <a><button (click)="getPort(data?.portTerminal)" nz-button nzType="primary">Editar</button></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
