<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Reportes</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tarifas" nzIcon="rise">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a nz-icon="" routerLink="/welcome/tarifa-puerto">Tarifas de puerto</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/tarifa-agente-naviera">Tarifas agente/naviera</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/tarifa-sidecomex">Tarifas Sidecomex</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/buenaventura">Tarifas Buenaventura - Cali</a>
          </li>
           <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/cartagena">Tarifas Cartagena - Malambo</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/otras-tarifas">Otras tarifas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Generar reporte" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/reporte">Reporte</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
